<!DOCTYPE html>
<html>
<head>
  <title>Samplar</title>
  <%= stylesheet_link_tag    "samplar/application", media: "all" %>
  <%= javascript_include_tag "samplar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <%= render 'layouts/samplar/footer' %>

</body>
</html>
